		.home {
			width:100%;
			position:relative;
			clear:both;
			
			font-family:Arial, Helvetica, sans-serif;
			
		}
		.home-wrapper{
			position:relative;
			width:100%;
			clear:both;
			overflow-y:auto;
			overflow-x:hidden;
			background:#D2D2D2;
			overflow-y:auto;
		}
		
		.home-all{
			position:relative;
			width:990px;
			margin-left:auto;
			margin-right:auto;
			clear:both;
			/*overflow-y:auto;*/
			overflow:visible;
		}
		.home-menu{
			position:relative;
			width:698px;	
			margin-left:auto;
			margin-right:auto;
			float:left;
			margin-top:0px;
			padding-top:30px;
			padding-bottom:50px;
		}
		.home-menu-element{
			width:100%;
			height:100px;
			position:relative;
			margin-bottom:15px;	
			-moz-border-radius: 5px;
    		-webkit-border-radius: 5px;
			border-radius:5px;
			clear:both;
			cursor:pointer;
		}
		.home-menu-element:hover{
			background-color:#333333;
		}
		.home-menu-element img{
			position:relative;
			margin-left:15px;
			margin-right:15px;
			float:left;
			cursor:pointer;
		}
		
		.home-menu-element-title{
			position:relative;
			width:480px;
			color:#0099FF;
			font-size:14px;
			float:left;
			margin-top:15px;
			margin-bottom:10px;
			font-weight:bold;
			cursor:pointer;
		}
		.home-menu-element-description{
			position:relative;
			width:480px;
			color:#768797;
			font-size:12px;
			float:left;
			cursor:pointer;
		}
		
		.home-menu-manage{
			background-color:#EFEFEF;
		}
		.home-menu-program{
			background-color:#DFECEF;
		}
		.home-menu-player{
			background-color:#CEE6EF;
		}
		.home-menu-site{
			background-color:#BBD9EF;
		}
		.home-menu-process{
			background-color:#B1CDE3;
		}
		.home-menu-connector{
			background-color:#A6C0D5;
		}
		
		.home-right{
			width:248px;
			position:relative;
			margin:0px;
			padding:0px;
			float:right;
			padding-top:30px;
			margin-right:10px;
		}
		
		.home-right-getting{
			width:86%;
			padding-left:7%;
			padding-right:7%;
			padding-top:17px;
			height:287px;
			margin-bottom:20px;
			background:#DBE3FF;
			-moz-border-radius: 10px;
    		-webkit-border-radius: 10px;
			border-radius:10px;
		}	
		
		.home-right-info{
			width:86%;
			padding-left:7%;
			padding-right:7%;
			padding-top:14px;
			height:153px;
			margin-bottom:20px;
			background:#DBE3FF;			
			-moz-border-radius: 10px;
    		-webkit-border-radius: 10px;
			border-radius:10px;
		}	
		.home-right-info hr{
			height:1px;
			border-bottom:1px solid #C8D6F2;
			padding:0px;
			margin:0px;
			width:114%;
			left:-7%;
			position:relative;
			margin-bottom:12px;
			margin-top:2px;
			
			
			
		}
		
		.home-right-title1{
			width:100%;		
			font-size:16px;
			color:#0099FF;
			clear:both;
			position:relative;
			margin-bottom:5px;
			display:inline-block;
			font-weight:bold;
		}
		.home-right-title2{
			width:100%;
			font-size:14px;
			color:#0099FF;
			clear:both;
			position:relative;
			margin-bottom:5px;
			display:inline-block;
			font-weight:bold;
		}
		.home-right-description{
			width:100%;
			font-size:12px;
			color:#999999;
			clear:both;
			position:relative;
			margin-bottom:12px;
			display:inline-block;
			
		}
		/*ANONYMOUS*/
		.anonymous-wrapper{
			position:relative;
			width:100%;
			clear:both;
			overflow-y:auto;
			overflow-x:hidden;
			background:#E6E6E6;
			overflow-y:auto;
		}
		
		.anonymous-all{
			position:relative;
			width:990px;
			margin-left:auto;
			margin-right:auto;
			clear:both;
			overflow-y:auto;
		}
		.anonymous-login-content{
			background:url(../images/anonymous/bkg_login.png) no-repeat center;
			width:990px;
			height:300px;
			margin-left:auto;
			margin-right:auto;
			margin-top:60px;
			text-align:center;
			padding-top:30px;
			margin-bottom:150px;
			position:relative;
			
		}
		.anonymous-login-content-text{
			width:330px;
			position:relative;
			margin-right:auto;
			margin-left:auto;
			left:-10px;
			margin-top:4px;
			font-size:12px;
			color:#768697;
			

		}
		.anonymous-login-content-buttons{
			width:430px;
			position:relative;
			margin-right:auto;
			margin-left:auto;
			left:-15px;
			margin-top:8px;
		}
		.anonymous-login-content-buttons img{
			margin-left:5px;
			margin-right:5px;
			cursor:pointer;
		}
		.anonymous-login-content-register{
			position:relative;
			left:-10px;
			margin-top:10px;
			width:148px;
			height:42px;
		}
		
		.anonymous-register{
			width:328px;
			position:relative;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			margin-top:70px;
		}
		.anonymous-register-text{
			width:330px;
			position:relative;
			margin-right:auto;
			margin-left:auto;
			left:-10px;
			margin-top:4px;
			font-size:25px;
			font-weight:normal;
		}
		.anonymous-register-form{
			width:100%;
			position:relative;
			text-align:left;
			margin-bottom:100px;
		}
		.anonymous-register-label{
			position:relative;
			text-align:left;
			font-size:12px;
			font-weight:bold;
		}
		.anonymous-register-labelInfo{
			font-size:11px;
			color:#A3A98D;
			margin-bottom:10px;
			position:relative;
		}
		.anonymous-register-input input{
			text-align:left;
			width:100%;
			height:20px;
			border:inset #636363 1px;	
			
			border-radius:5px;	
			-moz-border-radius: 5px;
    		-webkit-border-radius: 5px;
			padding:5px;
			margin-bottom:5px;
			
			
		}
		.anonymous-register select{
			width:200px;
			padding:5px;
			position:relative;
			margin-bottom:15px;
		}
		.anonymous-register-submit{
			text-align:center;
			width:100%;
			margin-bottom:20px;
			position:relative;
			height:42px;
		}
		.anonymous-register-submit button{
			width:148px;
			height:42px;
			position:relative;
			background:url(../images/anonymous/btn_register.png) no-repeat;
			padding:0px;
			margin:0px;
			border:none;
			margin-left:auto;
			margin-right:auto;
			cursor:pointer;
			float:left;
		}
		.anonymous-register-submit-clear{
			width:78px;
			height:42px;
			position:relative;
			background:url(../images/anonymous/btn_clear.png) no-repeat;
			padding:0px;
			margin:0px;
			border:none;
			margin-left:auto;
			margin-right:auto;
			cursor:pointer;
			float:left;
			margin-left:10px;
		}
		
		.anonymous-nopermission{
			width:328px;
			position:relative;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			margin-top:100px;
		}
		.anonymous-nopermission-info{
			font-size:28px;
			color:#B8B8B8;
			margin-bottom:10px;
			margin-top:10px;
		}
		.anonymous-nopermission-msg{
			font-size:18px;
			color:#B8B8B8;
			margin-bottom:20px;
		}
		.anonymous-nopermission-msg a{
			color:#0099FF;
			text-decoration:underline;
		}
		.anonymous-register-hollybyte{
			position:relative;
			width:100%;
			text-align:center;
			margin-bottom:100px;
		}
		